<h2 class="center-align">Programa 4</h2>

<div class="container z-depth-1">
	<div class="container">
		<div class="row">
			<div class="col s2">
				<!-- <div class="row">
	<div class="input-field col s6">
		<input value="Alvin" id="first_name2" type="text" class="validate">
		<label class="active" for="first_name2">First Name</label>
	</div>
</div> -->
<!-- <b> X: </b>
		<input type="number" name="name" value="1" style="margin-bottom:1px"> -->
		<div class="input-field">
			<input  id="first_name2" type="number"  ng-model="vm.x">
			<label class="" for="first_name2">X</label>
		</div>
				<!-- 5 -->
				<!-- <br> -->
				<a href="#" class=""style="font-size:150px; margin-top:2px; line-height:100%;">
					<span >&int;</span>
				</a>
				<br>
				<h5>0</h5>
			</div>
			<div class="col s10">
				<div class="row">
					<div class="col s4 offset-s2">

					    <div class="input-field">
					      <input value="Alvin" id="first_name2" type="number" class="validate" ng-model="vm.dof">
					      <label class="" for="first_name2">Grado de libertad</label>
					    </div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col s4">
						<img src="assets/images/integral.GIF" class="responsive-img" alt="" />
					</div>
					<div class="col s2">
						<a href="" class=""style="font-size:80px; margin-top:2px; line-height:100%;" ng-click="vm.getTfunction(vm.dof, vm.x)">
							<span >=</span>
						</a>
					</div>
					<div class="col s6">
						<h1>{{vm.res}}</h1>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<!--
<div class="container z-depth-1">
	<br>
	<div class="row center-align">
		<div class="">
			<b>DATOS</b>
			<br>
			<a class="waves-effect waves-light btn  indigo" ngf-select="vm.getStatistics($file)" >Seleccionar datos <i class="material-icons right">storage</i></a>
			<br>
		</div>
	</div>
	<br>
	<div class="card-panel" ng-if="vm.ranges">
		<table class="striped center-align">
			<thead>
				<tr>
					<th class="center-align" data-field="vs">Very Small</th>
					<th class="center-align" data-field="small">Small</th>
					<th class="center-align" data-field="medium">Medium</th>
					<th class="center-align" data-field="larg">Large</th>
					<th class="center-align" data-field="vl">Very Large</th>
				</tr>
			</thead>

			<tbody>
				<tr class="center-align">
					<td class="center-align">{{vm.ranges.verySmall | number:4 }}</td>
					<td class="center-align">{{vm.ranges.small | number:4 }}</td>
					<td class="center-align">{{vm.ranges.medium | number:4 }}</td>
					<td class="center-align">{{vm.ranges.large | number:4 }}</td>
					<td class="center-align">{{vm.ranges.veryLarge | number:4 }}</td>
				</tr>

			</tbody>
		</table>
	</div>
	<br>

</div> -->
